
html,
body,
#root {
  width: 100%;
  height: 100%;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* App backgrounds */
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.8s ease;
}

.default-bg {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.sunny-bg {
  background: linear-gradient(135deg, #f6d365, #fda085);
}

.cloudy-bg {
  background: linear-gradient(135deg, #bdc3c7, #2c3e50);
}

.rainy-bg {
  background: linear-gradient(135deg, #2c3e50, #000428);
}

/* Glass Card */
.card {
  width: 100%;
  max-width: 420px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(228, 220, 220, 0.2);
  backdrop-filter: blur(18px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

/* Title */
.title {
  font-size: 28px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Search */
.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f3f0f0;

  color: #000;              /* ✅ typed text color */
  caret-color: #000;        /* ✅ cursor color */
}
.input-box button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: #f3f0f0;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.2s ease, background 0.3s;
}

.input-box button:hover {
  background: #f1f1f1;
  transform: scale(1.05);
}

.input-box button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Error */
.error {
  margin-top: 12px;
  color: #ffdddd;
}

/* Result */
.result {
  margin-top: 25px;
}

.result img {
  width: 90px;
}

.temp {
  font-size: 64px;
  margin: 10px 0;
}

.condition {
  text-transform: capitalize;
  opacity: 0.9;
}

/* Details */
.details {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.details div span {
  font-size: 14px;
  opacity: 0.8;
}

.details div p {
  font-size: 20px;
  font-weight: 600;
}

/* Animations */
.fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
